<h1>一行掲示板</h1>

<section id="form">
  <%= form_for @post do |f| %>
    <div>
      <%= f.label :name, "名前" %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :comment, "内容" %>
      <%= f.text_field :comment %>
    </div>
    <%= f.submit "投稿" %>
  <% end %>
</section>

<section id="posts">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="name">
        <%= display_name post.name %>
      </div>
      <div class="comment">
        <%= post.comment %>
      </div>
    </div>
  <% end %>
</section>
